body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9ba01;
  color: #212121;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.loaded {
  opacity: 1;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.mice-placeholder {
  display: inline-block;
  opacity: 0;
  position: absolute;
  width: max-content;
}

.mice-container {
  display: inline-block;
  position: relative;
}

.mice {
  display: inline-block;
  transition: transform 0.1s;
  position: relative;
  width: max-content;
  text-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.mice-container.move {
  position: absolute;
}

.mice-container.move ~ .mice-placeholder {
  position: relative;
}

.option {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 6pt;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.025);
}

h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

.toggle-details {
  display: none;
  background-color: #212121;
  color: #f9ba01;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border-radius: 4pt;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #212121;
  color: #f9ba01;
}

@media (max-width: 600px) {
  .toggle-details {
    display: block;
  }

  .option {
    padding-bottom: 10px;
  }

  .option .details {
    display: none;
  }

  .option.show .details {
    display: block;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    display: none;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    white-space: nowrap;
    font-weight: bold;
  }

  .details tr {
    background-color: #f6f6f6;
    margin-bottom: 20px;
    border-radius: 4pt;
  }
}
